[Unit]
Description = Client for controlling low level features through socket server
After = network.target socket.service

[Service]
User=pi
ExecStart = /usr/bin/python3 /home/pi/driver/driver.py
Restart = on-failure

[Install]
WantedBy = multi-user.target